.toDoContainer{
    flex: 4;
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.buttonDelete {
    font-size: 16px;
    background-color: red;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 120px;
    margin: 35px;
}

.buttonDelete:active {
    background-color: #C62828
}

.buttonDelete:hover {
    background-color: #C62828
}

.buttonEdit {
    font-size: 16px;
    background-color: #1266F1;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    width: 120px;
    margin: 35px;
}

.buttonEdit:active {
    background-color: #5C6BC0
}

.buttonEdit:hover {
    background-color: #5C6BC0
}

button:focus {
    outline: 0;
}
  
input[type='text'] { 
    font-size: 20px; 
}

.todo input[type="checkbox"] {
    transform: scale(1.8) translateY(1px);
    margin: 0 16px 0 0;
    cursor: pointer;
}

.todoText input {
    padding: 4px;
}

.todoText {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.todo-completed {
    display: flex;
    margin: 10px 0;
}

.todoActions {
    display:flexbox;
    justify-content:space-evenly;
}